.header {
    height: 78px;
    width: 100%;
}
.header-logo {
    margin-left: 50px;
    width: 220px;
    height: 78px;
    background: url(../../static/images/top_logo.png) no-repeat center center;
}
.header-right {
    position: absolute;
    right: 15px;
    top: 0;
    height: 100%;
    display: flex;
    padding-top: 21px;
}
.app-download {
    width: 120px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #f0f9ff;
    color: #008bed;
    border-radius: 3px;
}
.view-content {
    width: 120px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}